.f16 .flag {background: url(../images/flags16.png) no-repeat;}
.f16 ._African_Union {background-position: 0 -16px;}
.f16 ._Arab_League {background-position: 0 -32px;}
.f16 ._ASEAN {background-position: 0 -48px;}
.f16 ._CARICOM {background-position: 0 -64px;}
.f16 ._CIS {background-position: 0 -80px;}
.f16 ._Commonwealth {background-position: 0 -96px;}
.f16 ._England {background-position: 0 -112px;}
.f16 ._European_Union, .f16 .eu {background-position: 0 -128px;}
.f16 ._Islamic_Conference {background-position: 0 -144px;}
.f16 ._Kosovo {background-position: 0 -160px;}
.f16 ._NATO {background-position: 0 -176px;}
.f16 ._Northern_Cyprus {background-position: 0 -192px;}
.f16 ._Northern_Ireland {background-position: 0 -208px;}
.f16 ._Olimpic_Movement {background-position: 0 -224px;}
.f16 ._OPEC {background-position: 0 -240px;}
.f16 ._Red_Cross {background-position: 0 -256px;}
.f16 ._Scotland {background-position: 0 -272px;}
.f16 ._Somaliland {background-position: 0 -288px;}
.f16 ._Tibet {background-position: 0 -304px;}
.f16 ._United_Nations {background-position: 0 -320px;}
.f16 ._Wales {background-position: 0 -336px;}
.f16 .and {background-position: 0 -352px;}
.f16 .are {background-position: 0 -368px;}
.f16 .afg {background-position: 0 -384px;}
.f16 .atg {background-position: 0 -400px;}
.f16 .aia {background-position: 0 -416px;}
.f16 .alb {background-position: 0 -432px;}
.f16 .arm {background-position: 0 -448px;}
.f16 .ago {background-position: 0 -464px;}
.f16 .ata {background-position: 0 -480px;}
.f16 .arg {background-position: 0 -496px;}
.f16 .asm {background-position: 0 -512px;}
.f16 .aut {background-position: 0 -528px;}
.f16 .aus {background-position: 0 -544px;}
.f16 .abw {background-position: 0 -560px;}
.f16 .ala {background-position: 0 -576px;}
.f16 .aze {background-position: 0 -592px;}
.f16 .bih {background-position: 0 -608px;}
.f16 .brb {background-position: 0 -624px;}
.f16 .bgd {background-position: 0 -640px;}
.f16 .bel {background-position: 0 -656px;}
.f16 .bfa {background-position: 0 -672px;}
.f16 .bgr {background-position: 0 -688px;}
.f16 .bhr {background-position: 0 -704px;}
.f16 .bdi {background-position: 0 -720px;}
.f16 .ben {background-position: 0 -736px;}
.f16 .blm {background-position: 0 -1424px;}
.f16 .bmu {background-position: 0 -752px;}
.f16 .brn {background-position: 0 -768px;}
.f16 .bol {background-position: 0 -784px;}
.f16 .bes {background-position: 0 -2752px;}
.f16 .bra {background-position: 0 -800px;}
.f16 .bhs {background-position: 0 -816px;}
.f16 .btn {background-position: 0 -832px;}
.f16 .bvt {background-position: 0 -2768px;}
.f16 .bwa {background-position: 0 -848px;}
.f16 .blr {background-position: 0 -864px;}
.f16 .blz {background-position: 0 -880px;}
.f16 .can {background-position: 0 -896px;}
.f16 .cod {background-position: 0 -912px;}
.f16 .rca {background-position: 0 -928px;}
.f16 .cog {background-position: 0 -944px;}
.f16 .che {background-position: 0 -960px;}
.f16 .civ {background-position: 0 -976px;}
.f16 .cok {background-position: 0 -992px;}
.f16 .chl {background-position: 0 -1008px;}
.f16 .cmr {background-position: 0 -1024px;}
.f16 .chn {background-position: 0 -1040px;}
.f16 .col {background-position: 0 -1056px;}
.f16 .cpt {background-position: 0 -1424px;}
.f16 .cri {background-position: 0 -1072px;}
.f16 .cub {background-position: 0 -1088px;}
.f16 .cpv {background-position: 0 -1104px;}
.f16 .cuw {background-position: 0 -3920px;}
.f16 .cyp {background-position: 0 -1120px;}
.f16 .cze {background-position: 0 -1136px;}
.f16 .deu {background-position: 0 -1152px;}
.f16 .dji {background-position: 0 -1168px;}
.f16 .dnk {background-position: 0 -1184px;}
.f16 .dma {background-position: 0 -1200px;}
.f16 .dom {background-position: 0 -1216px;}
.f16 .dza {background-position: 0 -1232px;}
.f16 .ecu {background-position: 0 -1248px;}
.f16 .est {background-position: 0 -1264px;}
.f16 .egy {background-position: 0 -1280px;}
.f16 .esh {background-position: 0 -1296px;}
.f16 .eri {background-position: 0 -1312px;}
.f16 .esp {background-position: 0 -1328px;}
.f16 .eth {background-position: 0 -1344px;}
.f16 .fin {background-position: 0 -1360px;}
.f16 .fji {background-position: 0 -1376px;}
.f16 .fsm {background-position: 0 -1392px;}
.f16 .fro {background-position: 0 -1408px;}
.f16 .fra {background-position: 0 -1424px;}
.f16 .gab {background-position: 0 -1440px;}
.f16 .gbr {background-position: 0 -1456px;}
.f16 .grd {background-position: 0 -1472px;}
.f16 .geo {background-position: 0 -1488px;}
.f16 .ggy {background-position: 0 -1504px;}
.f16 .gha {background-position: 0 -1520px;}
.f16 .gib {background-position: 0 -1536px;}
.f16 .grl {background-position: 0 -1552px;}
.f16 .gmb {background-position: 0 -1568px;}
.f16 .gin {background-position: 0 -1584px;}
.f16 .glp {background-position: 0 -1600px;}
.f16 .gnq {background-position: 0 -1616px;}
.f16 .grc {background-position: 0 -1632px;}
.f16 .gtm {background-position: 0 -1648px;}
.f16 .gum {background-position: 0 -1664px;}
.f16 .gnb {background-position: 0 -1680px;}
.f16 .guy {background-position: 0 -1696px;}
.f16 .hkg {background-position: 0 -1712px;}
.f16 .hnd {background-position: 0 -1728px;}
.f16 .hrv {background-position: 0 -1744px;}
.f16 .hti {background-position: 0 -1760px;}
.f16 .hun {background-position: 0 -1776px;}
.f16 .idn {background-position: 0 -1792px;}
.f16 .irl {background-position: 0 -1808px;}
.f16 .isr {background-position: 0 -1824px;}
.f16 .imn {background-position: 0 -1840px;}
.f16 .ind {background-position: 0 -1856px;}
.f16 .irq {background-position: 0 -1872px;}
.f16 .irn {background-position: 0 -1888px;}
.f16 .isl {background-position: 0 -1904px;}
.f16 .ita {background-position: 0 -1920px;}
.f16 .jey {background-position: 0 -1936px;}
.f16 .jam {background-position: 0 -1952px;}
.f16 .jor {background-position: 0 -1968px;}
.f16 .jpn {background-position: 0 -1984px;}
.f16 .ken {background-position: 0 -2000px;}
.f16 .kgz {background-position: 0 -2016px;}
.f16 .khm {background-position: 0 -2032px;}
.f16 .kir {background-position: 0 -2048px;}
.f16 .com {background-position: 0 -2064px;}
.f16 .kna {background-position: 0 -2080px;}
.f16 .prk {background-position: 0 -2096px;}
.f16 .kor {background-position: 0 -2112px;}
.f16 .kwt {background-position: 0 -2128px;}
.f16 .cym {background-position: 0 -2144px;}
.f16 .kaz {background-position: 0 -2160px;}
.f16 .lao {background-position: 0 -2176px;}
.f16 .lbn {background-position: 0 -2192px;}
.f16 .lca {background-position: 0 -2208px;}
.f16 .lie {background-position: 0 -2224px;}
.f16 .lka {background-position: 0 -2240px;}
.f16 .lbr {background-position: 0 -2256px;}
.f16 .lso {background-position: 0 -2272px;}
.f16 .ltu {background-position: 0 -2288px;}
.f16 .lux {background-position: 0 -2304px;}
.f16 .lva {background-position: 0 -2320px;}
.f16 .lby {background-position: 0 -2336px;}
.f16 .mar {background-position: 0 -2352px;}
.f16 .mco {background-position: 0 -1792px;}
.f16 .mda {background-position: 0 -2368px;}
.f16 .mne {background-position: 0 -2384px;}
.f16 .maf {background-position: 0 -1424px;}
.f16 .mdg {background-position: 0 -2400px;}
.f16 .mhl {background-position: 0 -2416px;}
.f16 .mkd {background-position: 0 -2432px;}
.f16 .mli {background-position: 0 -2448px;}
.f16 .mmr {background-position: 0 -2464px;}
.f16 .mng {background-position: 0 -2480px;}
.f16 .mac {background-position: 0 -2496px;}
.f16 .mtq {background-position: 0 -2512px;}
.f16 .mrt {background-position: 0 -2528px;}
.f16 .msr {background-position: 0 -2544px;}
.f16 .mlt {background-position: 0 -2560px;}
.f16 .mus {background-position: 0 -2576px;}
.f16 .mdv {background-position: 0 -2592px;}
.f16 .mwi {background-position: 0 -2608px;}
.f16 .mex {background-position: 0 -2624px;}
.f16 .mys {background-position: 0 -2640px;}
.f16 .moz {background-position: 0 -2656px;}
.f16 .nam {background-position: 0 -2672px;}
.f16 .ncl {background-position: 0 -2688px;}
.f16 .ner {background-position: 0 -2704px;}
.f16 .nga {background-position: 0 -2720px;}
.f16 .nic {background-position: 0 -2736px;}
.f16 .nld {background-position: 0 -2752px;}
.f16 .nor {background-position: 0 -2768px;}
.f16 .npl {background-position: 0 -2784px;}
.f16 .atn {background-position: 0 -2768px;}
.f16 .nru {background-position: 0 -2800px;}
.f16 .niu {background-position: 0 -3952px;}
.f16 .nzl {background-position: 0 -2816px;}
.f16 .omn {background-position: 0 -2832px;}
.f16 .pan {background-position: 0 -2848px;}
.f16 .per {background-position: 0 -2864px;}
.f16 .pyf {background-position: 0 -2880px;}
.f16 .png {background-position: 0 -2896px;}
.f16 .phl {background-position: 0 -2912px;}
.f16 .pak {background-position: 0 -2928px;}
.f16 .pol {background-position: 0 -2944px;}
.f16 .pri {background-position: 0 -2960px;}
.f16 .pse {background-position: 0 -2976px;}
.f16 .prt {background-position: 0 -2992px;}
.f16 .plw {background-position: 0 -3008px;}
.f16 .pry {background-position: 0 -3024px;}
.f16 .qat {background-position: 0 -3040px;}
.f16 .reu {background-position: 0 -3056px;}
.f16 .rou {background-position: 0 -3072px;}
.f16 .srb {background-position: 0 -3088px;}
.f16 .rus {background-position: 0 -3104px;}
.f16 .rwa {background-position: 0 -3120px;}
.f16 .sau {background-position: 0 -3136px;}
.f16 .slb {background-position: 0 -3152px;}
.f16 .syc {background-position: 0 -3168px;}
.f16 .sdn {background-position: 0 -3184px;}
.f16 .swe {background-position: 0 -3200px;}
.f16 .sgp {background-position: 0 -3216px;}
.f16 .shn {background-position: 0 -1456px;}
.f16 .svn {background-position: 0 -3232px;}
.f16 .sjm {background-position: 0 -2768px;}
.f16 .svk {background-position: 0 -3248px;}
.f16 .sle {background-position: 0 -3264px;}
.f16 .smr {background-position: 0 -3280px;}
.f16 .sen {background-position: 0 -3296px;}
.f16 .som {background-position: 0 -3312px;}
.f16 .sur {background-position: 0 -3328px;}
.f16 .ssd {background-position: 0 -3936px;}
.f16 .stp {background-position: 0 -3344px;}
.f16 .slv {background-position: 0 -3360px;}
.f16 .sxm {background-position: 0 -3904px;}
.f16 .syr {background-position: 0 -3376px;}
.f16 .swz {background-position: 0 -3392px;}
.f16 .tca {background-position: 0 -3408px;}
.f16 .tcd {background-position: 0 -3424px;}
.f16 .tgo {background-position: 0 -3440px;}
.f16 .tha {background-position: 0 -3456px;}
.f16 .tjk {background-position: 0 -3472px;}
.f16 .tls {background-position: 0 -3488px;}
.f16 .tkm {background-position: 0 -3504px;}
.f16 .tun {background-position: 0 -3520px;}
.f16 .ton {background-position: 0 -3536px;}
.f16 .tur {background-position: 0 -3552px;}
.f16 .tto {background-position: 0 -3568px;}
.f16 .tuv {background-position: 0 -3584px;}
.f16 .twn {background-position: 0 -3600px;}
.f16 .tza {background-position: 0 -3616px;}
.f16 .ukr {background-position: 0 -3632px;}
.f16 .uga {background-position: 0 -3648px;}
.f16 .usa {background-position: 0 -3664px;}
.f16 .ury {background-position: 0 -3680px;}
.f16 .uzb {background-position: 0 -3696px;}
.f16 .vat {background-position: 0 -3712px;}
.f16 .vct {background-position: 0 -3728px;}
.f16 .ven {background-position: 0 -3744px;}
.f16 .vgb {background-position: 0 -3760px;}
.f16 .vir {background-position: 0 -3776px;}
.f16 .vnm {background-position: 0 -3792px;}
.f16 .vut {background-position: 0 -3808px;}
.f16 .wsm {background-position: 0 -3824px;}
.f16 .yem {background-position: 0 -3840px;}
.f16 .myt {background-position: 0 -1424px;}
.f16 .zaf {background-position: 0 -3856px;}
.f16 .zmb {background-position: 0 -3872px;}
.f16 .zwe {background-position: 0 -3888px;}