$flags-images-path: "../images" !default; //Override this variable in your .scss to use bower.
.f16 {

    .flag{background: url(#{$flags-images-path}/flags16.png) no-repeat;}

    ._African_Union {background-position: 0 -16px;}
    ._Arab_League {background-position: 0 -32px;}
    ._ASEAN {background-position: 0 -48px;}
    ._CARICOM {background-position: 0 -64px;}
    ._CIS {background-position: 0 -80px;}
    ._Commonwealth {background-position: 0 -96px;}
    ._England {background-position: 0 -112px;}
    ._European_Union {background-position: 0 -128px;} .eu {@extend ._European_Union;}
    ._Islamic_Conference {background-position: 0 -144px;}
    ._Kosovo {background-position: 0 -160px;}
    ._NATO {background-position: 0 -176px;}
    ._Northern_Cyprus {background-position: 0 -192px;}
    ._Northern_Ireland {background-position: 0 -208px;}
    ._Olimpic_Movement {background-position: 0 -224px;}
    ._OPEC {background-position: 0 -240px;}
    ._Red_Cross {background-position: 0 -256px;}
    ._Scotland {background-position: 0 -272px;}
    ._Somaliland {background-position: 0 -288px;}
    ._Tibet {background-position: 0 -304px;}
    ._United_Nations {background-position: 0 -320px;}
    ._Wales {background-position: 0 -336px;}

	.ad {background-position: 0 -352px;} .and {@extend .ad;}
	.ae {background-position: 0 -368px;} .are {@extend .ae;}
	.af {background-position: 0 -384px;} .afg {@extend .af;}
	.ag {background-position: 0 -400px;} .atg {@extend .ag;}
	.ai {background-position: 0 -416px;} .aia {@extend .ai;}
	.al {background-position: 0 -432px;} .alb {@extend .al;}
	.am {background-position: 0 -448px;} .arm {@extend .am;}
	.ao {background-position: 0 -464px;} .ago {@extend .ao;}
	.aq {background-position: 0 -480px;} .ata {@extend .aq;}
	.ar {background-position: 0 -496px;} .arg {@extend .ar;}
	.as {background-position: 0 -512px;} .asm {@extend .as;}
	.at {background-position: 0 -528px;} .aut {@extend .at;}
	.au {background-position: 0 -544px;} .aus {@extend .au;}
	.aw {background-position: 0 -560px;} .abw {@extend .aw;}
	.ax {background-position: 0 -576px;} .ala {@extend .ax;}
	.az {background-position: 0 -592px;} .aze {@extend .az;}
	.ba {background-position: 0 -608px;} .bih {@extend .ba;}
	.bb {background-position: 0 -624px;} .brb {@extend .bb;}
	.bd {background-position: 0 -640px;} .bgd {@extend .bd;}
	.be {background-position: 0 -656px;} .bel {@extend .be;}
	.bf {background-position: 0 -672px;} .bfa {@extend .bf;}
	.bg {background-position: 0 -688px;} .bgr {@extend .bg;}
	.bh {background-position: 0 -704px;} .bhr {@extend .bh;}
	.bi {background-position: 0 -720px;} .bdi {@extend .bi;}
	.bj {background-position: 0 -736px;} .ben {@extend .bj;}
	.bl {background-position: 0 -1424px;} .blm {@extend .bl;}
	.bm {background-position: 0 -752px;} .bmu {@extend .bm;}
	.bn {background-position: 0 -768px;} .brn {@extend .bn;}
	.bo {background-position: 0 -784px;} .bol {@extend .bo;}
	.bq {background-position: 0 -2752px;} .bes {@extend .bq;}
	.br {background-position: 0 -800px;} .bra {@extend .br;}
	.bs {background-position: 0 -816px;} .bhs {@extend .bs;}
	.bt {background-position: 0 -832px;} .btn {@extend .bt;}
	.bv {background-position: 0 -2768px;} .bvt {@extend .bv;}
	.bw {background-position: 0 -848px;} .bwa {@extend .bw;}
	.by {background-position: 0 -864px;} .blr {@extend .by;}
	.bz {background-position: 0 -880px;} .blz {@extend .bz;}
	.ca {background-position: 0 -896px;} .can {@extend .ca;}
	.cd {background-position: 0 -912px;} .cod {@extend .cd;}
	.cf {background-position: 0 -928px;} .rca {@extend .cf;}
	.cg {background-position: 0 -944px;} .cog {@extend .cg;}
	.ch {background-position: 0 -960px;} .che {@extend .ch;}
	.ci {background-position: 0 -976px;} .civ {@extend .ci;}
	.ck {background-position: 0 -992px;} .cok {@extend .ck;}
	.cl {background-position: 0 -1008px;} .chl {@extend .cl;}
	.cm {background-position: 0 -1024px;} .cmr {@extend .cm;}
	.cn {background-position: 0 -1040px;} .chn {@extend .cn;}
	.co {background-position: 0 -1056px;} .col {@extend .co;}
	.cp {background-position: 0 -1424px;} .cpt {@extend .cp;}
	.cr {background-position: 0 -1072px;} .cri {@extend .cr;}
	.cu {background-position: 0 -1088px;} .cub {@extend .cu;}
	.cv {background-position: 0 -1104px;} .cpv {@extend .cv;}
	.cw {background-position: 0 -3920px;} .cuw {@extend .cw;}
	.cy {background-position: 0 -1120px;} .cyp {@extend .cy;}
	.cz {background-position: 0 -1136px;} .cze {@extend .cz;}
	.de {background-position: 0 -1152px;} .deu {@extend .de;}
	.dj {background-position: 0 -1168px;} .dji {@extend .dj;}
	.dk {background-position: 0 -1184px;} .dnk {@extend .dk;}
	.dm {background-position: 0 -1200px;} .dma {@extend .dm;}
	.do {background-position: 0 -1216px;} .dom {@extend .do;}
	.dz {background-position: 0 -1232px;} .dza {@extend .dz;}
	.ec {background-position: 0 -1248px;} .ecu {@extend .ec;}
	.ee {background-position: 0 -1264px;} .est {@extend .ee;}
	.eg {background-position: 0 -1280px;} .egy {@extend .eg;}
	.eh {background-position: 0 -1296px;} .esh {@extend .eh;}
	.er {background-position: 0 -1312px;} .eri {@extend .er;}
	.es {background-position: 0 -1328px;} .esp {@extend .es;}
	.et {background-position: 0 -1344px;} .eth {@extend .et;}
	.fi {background-position: 0 -1360px;} .fin {@extend .fi;}
	.fj {background-position: 0 -1376px;} .fji {@extend .fj;}
	.fm {background-position: 0 -1392px;} .fsm {@extend .fm;}
	.fo {background-position: 0 -1408px;} .fro {@extend .fo;}
	.fr {background-position: 0 -1424px;} .fra {@extend .fr;}
	.ga {background-position: 0 -1440px;} .gab {@extend .ga;}
	.gb {background-position: 0 -1456px;} .gbr {@extend .gb;}
	.gd {background-position: 0 -1472px;} .grd {@extend .gd;}
	.ge {background-position: 0 -1488px;} .geo {@extend .ge;}
	.gg {background-position: 0 -1504px;} .ggy {@extend .gg;}
	.gh {background-position: 0 -1520px;} .gha {@extend .gh;}
	.gi {background-position: 0 -1536px;} .gib {@extend .gi;}
	.gl {background-position: 0 -1552px;} .grl {@extend .gl;}
	.gm {background-position: 0 -1568px;} .gmb {@extend .gm;}
	.gn {background-position: 0 -1584px;} .gin {@extend .gn;}
	.gp {background-position: 0 -1600px;} .glp {@extend .gp;}
	.gq {background-position: 0 -1616px;} .gnq {@extend .gq;}
	.gr {background-position: 0 -1632px;} .grc {@extend .gr;}
	.gt {background-position: 0 -1648px;} .gtm {@extend .gt;}
	.gu {background-position: 0 -1664px;} .gum {@extend .gu;}
	.gw {background-position: 0 -1680px;} .gnb {@extend .gw;}
	.gy {background-position: 0 -1696px;} .guy {@extend .gy;}
	.hk {background-position: 0 -1712px;} .hkg {@extend .hk;}
	.hn {background-position: 0 -1728px;} .hnd {@extend .hn;}
	.hr {background-position: 0 -1744px;} .hrv {@extend .hr;}
	.ht {background-position: 0 -1760px;} .hti {@extend .ht;}
	.hu {background-position: 0 -1776px;} .hun {@extend .hu;}
	.id {background-position: 0 -1792px;} .idn {@extend .id;}
	.ie {background-position: 0 -1808px;} .idn {@extend .id;}
	.il {background-position: 0 -1824px;} .isr {@extend .il;}
	.im {background-position: 0 -1840px;} .imn {@extend .im;}
	.in {background-position: 0 -1856px;} .ind {@extend .in;}
	.iq {background-position: 0 -1872px;} .irq {@extend .iq;}
	.ir {background-position: 0 -1888px;} .irn {@extend .ir;}
	.is {background-position: 0 -1904px;} .isl {@extend .is;}
	.it {background-position: 0 -1920px;} .ita {@extend .it;}
	.je {background-position: 0 -1936px;} .jey {@extend .je;}
	.jm {background-position: 0 -1952px;} .jam {@extend .jm;}
	.jo {background-position: 0 -1968px;} .jor {@extend .jo;}
	.jp {background-position: 0 -1984px;} .jpn {@extend .jp;}
	.ke {background-position: 0 -2000px;} .ken {@extend .ke;}
	.kg {background-position: 0 -2016px;} .kgz {@extend .kg;}
	.kh {background-position: 0 -2032px;} .khm {@extend .kh;}
	.ki {background-position: 0 -2048px;} .kir {@extend .ki;}
	.km {background-position: 0 -2064px;} .com {@extend .km;}
	.kn {background-position: 0 -2080px;} .kna {@extend .kn;}
	.kp {background-position: 0 -2096px;} .prk {@extend .kp;}
	.kr {background-position: 0 -2112px;} .kor {@extend .kr;}
	.kw {background-position: 0 -2128px;} .kwt {@extend .kw;}
	.ky {background-position: 0 -2144px;} .cym {@extend .ky;}
	.kz {background-position: 0 -2160px;} .kaz {@extend .kz;}
	.la {background-position: 0 -2176px;} .lao {@extend .la;}
	.lb {background-position: 0 -2192px;} .lbn {@extend .lb;}
	.lc {background-position: 0 -2208px;} .lca {@extend .lc;}
	.li {background-position: 0 -2224px;} .lie {@extend .li;}
	.lk {background-position: 0 -2240px;} .lka {@extend .lk;}
	.lr {background-position: 0 -2256px;} .lbr {@extend .lr;}
	.ls {background-position: 0 -2272px;} .lso {@extend .ls;}
	.lt {background-position: 0 -2288px;} .ltu {@extend .lt;}
	.lu {background-position: 0 -2304px;} .lux {@extend .lu;}
	.lv {background-position: 0 -2320px;} .lva {@extend .lv;}
	.ly {background-position: 0 -2336px;} .lby {@extend .ly;}
	.ma {background-position: 0 -2352px;} .mar {@extend .ma;}
	.mc {background-position: 0 -1792px;} .mco {@extend .mc;}
	.md {background-position: 0 -2368px;} .mda {@extend .md;}
	.me {background-position: 0 -2384px;} .mne {@extend .me;}
	.mf {background-position: 0 -1424px;} .maf {@extend .mf;}
	.mg {background-position: 0 -2400px;} .mdg {@extend .mg;}
	.mh {background-position: 0 -2416px;} .mhl {@extend .mh;}
	.mk {background-position: 0 -2432px;} .mkd {@extend .mk;}
	.ml {background-position: 0 -2448px;} .mli {@extend .ml;}
	.mm {background-position: 0 -2464px;} .mmr {@extend .mm;}
	.mn {background-position: 0 -2480px;} .mng {@extend .mn;}
	.mo {background-position: 0 -2496px;} .mac {@extend .mo;}
	.mq {background-position: 0 -2512px;} .mtq {@extend .mq;}
	.mr {background-position: 0 -2528px;} .mrt {@extend .mr;}
	.ms {background-position: 0 -2544px;} .msr {@extend .ms;}
	.mt {background-position: 0 -2560px;} .mlt {@extend .mt;}
	.mu {background-position: 0 -2576px;} .mus {@extend .mu;}
	.mv {background-position: 0 -2592px;} .mdv {@extend .mv;}
	.mw {background-position: 0 -2608px;} .mwi {@extend .mw;}
	.mx {background-position: 0 -2624px;} .mex {@extend .mx;}
	.my {background-position: 0 -2640px;} .mys {@extend .my;}
	.mz {background-position: 0 -2656px;} .moz {@extend .mz;}
	.na {background-position: 0 -2672px;} .nam {@extend .na;}
	.nc {background-position: 0 -2688px;} .ncl {@extend .nc;}
	.ne {background-position: 0 -2704px;} .ner {@extend .ne;}
	.ng {background-position: 0 -2720px;} .nga {@extend .ng;}
	.ni {background-position: 0 -2736px;} .nic {@extend .ni;}
	.nl {background-position: 0 -2752px;} .nld {@extend .nl;}
	.no {background-position: 0 -2768px;} .nor {@extend .no;}
	.np {background-position: 0 -2784px;} .npl {@extend .np;}
	.nq {background-position: 0 -2768px;} .atn {@extend .nq;}
	.nr {background-position: 0 -2800px;} .nru {@extend .nr;}
	.nu {background-position: 0 -3952px;} .niu {@extend .nu;}
	.nz {background-position: 0 -2816px;} .nzl {@extend .nz;}
	.om {background-position: 0 -2832px;} .omn {@extend .om;}
	.pa {background-position: 0 -2848px;} .pan {@extend .pa;}
	.pe {background-position: 0 -2864px;} .per {@extend .pe;}
	.pf {background-position: 0 -2880px;} .pyf {@extend .pf;}
	.pg {background-position: 0 -2896px;} .png {@extend .pg;}
	.ph {background-position: 0 -2912px;} .phl {@extend .ph;}
	.pk {background-position: 0 -2928px;} .pak {@extend .pk;}
	.pl {background-position: 0 -2944px;} .pol {@extend .pl;}
	.pr {background-position: 0 -2960px;} .pri {@extend .pr;}
	.ps {background-position: 0 -2976px;} .pse {@extend .ps;}
	.pt {background-position: 0 -2992px;} .prt {@extend .pt;}
	.pw {background-position: 0 -3008px;} .plw {@extend .pw;}
	.py {background-position: 0 -3024px;} .pry {@extend .py;}
	.qa {background-position: 0 -3040px;} .qat {@extend .qa;}
	.re {background-position: 0 -3056px;} .reu {@extend .re;}
	.ro {background-position: 0 -3072px;} .rou {@extend .ro;}
	.rs {background-position: 0 -3088px;} .srb {@extend .rs;}
	.ru {background-position: 0 -3104px;} .rus {@extend .ru;}
	.rw {background-position: 0 -3120px;} .rwa {@extend .rw;}
	.sa {background-position: 0 -3136px;} .sau {@extend .sa;}
	.sb {background-position: 0 -3152px;} .slb {@extend .sb;}
	.sc {background-position: 0 -3168px;} .syc {@extend .sc;}
	.sd {background-position: 0 -3184px;} .sdn {@extend .sd;}
	.se {background-position: 0 -3200px;} .swe {@extend .se;}
	.sg {background-position: 0 -3216px;} .sgp {@extend .sg;}
	.sh {background-position: 0 -1456px;} .shn {@extend .sh;}
	.si {background-position: 0 -3232px;} .svn {@extend .si;}
	.sj {background-position: 0 -2768px;} .sjm {@extend .sj;}
	.sk {background-position: 0 -3248px;} .svk {@extend .sk;}
	.sl {background-position: 0 -3264px;} .sle {@extend .sl;}
	.sm {background-position: 0 -3280px;} .smr {@extend .sm;}
	.sn {background-position: 0 -3296px;} .sen {@extend .sn;}
	.so {background-position: 0 -3312px;} .som {@extend .so;}
	.sr {background-position: 0 -3328px;} .sur {@extend .sr;}
	.ss {background-position: 0 -3936px;} .ssd {@extend .ss;}
	.st {background-position: 0 -3344px;} .stp {@extend .st;}
	.sv {background-position: 0 -3360px;} .slv {@extend .sv;}
	.sx {background-position: 0 -3904px;} .sxm {@extend .sx;}
	.sy {background-position: 0 -3376px;} .syr {@extend .sy;}
	.sz {background-position: 0 -3392px;} .swz {@extend .sz;}
	.tc {background-position: 0 -3408px;} .tca {@extend .tc;}
	.td {background-position: 0 -3424px;} .tcd {@extend .td;}
	.tg {background-position: 0 -3440px;} .tgo {@extend .tg;}
	.th {background-position: 0 -3456px;} .tha {@extend .th;}
	.tj {background-position: 0 -3472px;} .tjk {@extend .tj;}
	.tl {background-position: 0 -3488px;} .tls {@extend .tl;}
	.tm {background-position: 0 -3504px;} .tkm {@extend .tm;}
	.tn {background-position: 0 -3520px;} .tun {@extend .tn;}
	.to {background-position: 0 -3536px;} .ton {@extend .to;}
	.tr {background-position: 0 -3552px;} .tur {@extend .tr;}
	.tt {background-position: 0 -3568px;} .tto {@extend .tt;}
	.tv {background-position: 0 -3584px;} .tuv {@extend .tv;}
	.tw {background-position: 0 -3600px;} .twn {@extend .tw;}
	.tz {background-position: 0 -3616px;} .tza {@extend .tz;}
	.ua {background-position: 0 -3632px;} .ukr {@extend .ua;}
	.ug {background-position: 0 -3648px;} .uga {@extend .ug;}
	.us {background-position: 0 -3664px;} .usa {@extend .us;}
	.uy {background-position: 0 -3680px;} .ury {@extend .uy;}
	.uz {background-position: 0 -3696px;} .uzb {@extend .uz;}
	.va {background-position: 0 -3712px;} .vat {@extend .va;}
	.vc {background-position: 0 -3728px;} .vct {@extend .vc;}
	.ve {background-position: 0 -3744px;} .ven {@extend .ve;}
	.vg {background-position: 0 -3760px;} .vgb {@extend .vg;}
	.vi {background-position: 0 -3776px;} .vir {@extend .vi;}
	.vn {background-position: 0 -3792px;} .vnm {@extend .vn;}
	.vu {background-position: 0 -3808px;} .vut {@extend .vu;}
	.ws {background-position: 0 -3824px;} .wsm {@extend .ws;}
	.ye {background-position: 0 -3840px;} .yem {@extend .ye;}
	.yt {background-position: 0 -1424px;} .myt {@extend .yt;}
	.za {background-position: 0 -3856px;} .zaf {@extend .za;}
	.zm {background-position: 0 -3872px;} .zmb {@extend .zm;}
	.zw {background-position: 0 -3888px;} .zwe {@extend .zw;}

} // .f16
