.f32 .flag {background: url(../images/flags16.png) no-repeat;}
.f32 ._African_Union {background-position: 0 -16px;}
.f32 ._Arab_League {background-position: 0 -32px;}
.f32 ._ASEAN {background-position: 0 -48px;}
.f32 ._CARICOM {background-position: 0 -64px;}
.f32 ._CIS {background-position: 0 -80px;}
.f32 ._Commonwealth {background-position: 0 -96px;}
.f32 ._England {background-position: 0 -112px;}
.f32 ._European_Union {background-position: 0 -128px;}
.f32 ._Islamic_Conference {background-position: 0 -144px;}
.f32 ._Kosovo {background-position: 0 -160px;}
.f32 ._NATO {background-position: 0 -176px;}
.f32 ._Northern_Cyprus {background-position: 0 -192px;}
.f32 ._Northern_Ireland {background-position: 0 -208px;}
.f32 ._Olimpic_Movement {background-position: 0 -224px;}
.f32 ._OPEC {background-position: 0 -240px;}
.f32 ._Red_Cross {background-position: 0 -256px;}
.f32 ._Scotland {background-position: 0 -272px;}
.f32 ._Somaliland {background-position: 0 -288px;}
.f32 ._Tibet {background-position: 0 -304px;}
.f32 ._United_Nations {background-position: 0 -320px;}
.f32 ._Wales {background-position: 0 -336px;}
.f32 .eu {background-position: 0 -128px;}
.f32 .and {background-position: 0 -704px;}
.f32 .are {background-position: 0 -736px;}
.f32 .afg {background-position: 0 -768px;}
.f32 .atg {background-position: 0 -800px;}
.f32 .aia {background-position: 0 -832px;}
.f32 .alb {background-position: 0 -864px;}
.f32 .arm {background-position: 0 -896px;}
.f32 .ago {background-position: 0 -928px;}
.f32 .ata {background-position: 0 -960px;}
.f32 .arg {background-position: 0 -992px;}
.f32 .asm {background-position: 0 -1024px;}
.f32 .aut {background-position: 0 -1056px;}
.f32 .aus {background-position: 0 -1088px;}
.f32 .abw {background-position: 0 -1120px;}
.f32 .ala {background-position: 0 -1152px;}
.f32 .aze {background-position: 0 -1184px;}
.f32 .bih {background-position: 0 -1216px;}
.f32 .brb {background-position: 0 -1248px;}
.f32 .bgd {background-position: 0 -1280px;}
.f32 .bel {background-position: 0 -1312px;}
.f32 .bfa {background-position: 0 -1344px;}
.f32 .bgr {background-position: 0 -1376px;}
.f32 .bhr {background-position: 0 -1408px;}
.f32 .bdi {background-position: 0 -1440px;}
.f32 .ben {background-position: 0 -1472px;}
.f32 .bmu {background-position: 0 -1504px;}
.f32 .brn {background-position: 0 -1536px;}
.f32 .bol {background-position: 0 -1568px;}
.f32 .bra {background-position: 0 -1600px;}
.f32 .bhs {background-position: 0 -1632px;}
.f32 .btn {background-position: 0 -1664px;}
.f32 .bwa {background-position: 0 -1696px;}
.f32 .blr {background-position: 0 -1728px;}
.f32 .blz {background-position: 0 -1760px;}
.f32 .can {background-position: 0 -1792px;}
.f32 .cod {background-position: 0 -1824px;}
.f32 .rca {background-position: 0 -1856px;}
.f32 .cog {background-position: 0 -1888px;}
.f32 .che {background-position: 0 -1920px;}
.f32 .civ {background-position: 0 -1952px;}
.f32 .cok {background-position: 0 -1984px;}
.f32 .chl {background-position: 0 -2016px;}
.f32 .cmr {background-position: 0 -2048px;}
.f32 .chn {background-position: 0 -2080px;}
.f32 .col {background-position: 0 -2112px;}
.f32 .cri {background-position: 0 -2144px;}
.f32 .cub {background-position: 0 -2176px;}
.f32 .cpv {background-position: 0 -2208px;}
.f32 .cyp {background-position: 0 -2240px;}
.f32 .cze {background-position: 0 -2272px;}
.f32 .deu {background-position: 0 -2304px;}
.f32 .dji {background-position: 0 -2336px;}
.f32 .dnk {background-position: 0 -2368px;}
.f32 .dma {background-position: 0 -2400px;}
.f32 .dom {background-position: 0 -2432px;}
.f32 .dza {background-position: 0 -2464px;}
.f32 .ecu {background-position: 0 -2496px;}
.f32 .est {background-position: 0 -2528px;}
.f32 .egy {background-position: 0 -2560px;}
.f32 .esh {background-position: 0 -2592px;}
.f32 .eri {background-position: 0 -2624px;}
.f32 .esp {background-position: 0 -2656px;}
.f32 .eth {background-position: 0 -2688px;}
.f32 .fin {background-position: 0 -2720px;}
.f32 .fji {background-position: 0 -2752px;}
.f32 .fsm {background-position: 0 -2784px;}
.f32 .fro {background-position: 0 -2816px;}
.f32 .fra {background-position: 0 -2848px;}
.f32 .blm {background-position: 0 -2848px;}
.f32 .cpt {background-position: 0 -2848px;}
.f32 .maf {background-position: 0 -2848px;}
.f32 .myt {background-position: 0 -2848px;}
.f32 .gab {background-position: 0 -2880px;}
.f32 .gbr {background-position: 0 -2912px;}
.f32 .shn {background-position: 0 -2912px;}
.f32 .grd {background-position: 0 -2944px;}
.f32 .geo {background-position: 0 -2976px;}
.f32 .ggy {background-position: 0 -3008px;}
.f32 .gha {background-position: 0 -3040px;}
.f32 .gib {background-position: 0 -3072px;}
.f32 .grl {background-position: 0 -3104px;}
.f32 .gmb {background-position: 0 -3136px;}
.f32 .gin {background-position: 0 -3168px;}
.f32 .glp {background-position: 0 -3200px;}
.f32 .gnq {background-position: 0 -3232px;}
.f32 .grc {background-position: 0 -3264px;}
.f32 .gtm {background-position: 0 -3296px;}
.f32 .gum {background-position: 0 -3328px;}
.f32 .gnb {background-position: 0 -3360px;}
.f32 .guy {background-position: 0 -3392px;}
.f32 .hkg {background-position: 0 -3424px;}
.f32 .hnd {background-position: 0 -3456px;}
.f32 .hrv {background-position: 0 -3488px;}
.f32 .hti {background-position: 0 -3520px;}
.f32 .hun {background-position: 0 -3552px;}
.f32 .idn {background-position: 0 -3584px;}
.f32 .mco {background-position: 0 -3584px;}
.f32 .idn {background-position: 0 -3616px;}
.f32 .isr {background-position: 0 -3648px;}
.f32 .imn {background-position: 0 -3680px;}
.f32 .ind {background-position: 0 -3712px;}
.f32 .irq {background-position: 0 -3744px;}
.f32 .irn {background-position: 0 -3776px;}
.f32 .isl {background-position: 0 -3808px;}
.f32 .ita {background-position: 0 -3840px;}
.f32 .jey {background-position: 0 -3872px;}
.f32 .jam {background-position: 0 -3904px;}
.f32 .jor {background-position: 0 -3936px;}
.f32 .jpn {background-position: 0 -3968px;}
.f32 .ken {background-position: 0 -4000px;}
.f32 .kgz {background-position: 0 -4032px;}
.f32 .khm {background-position: 0 -4064px;}
.f32 .kir {background-position: 0 -4096px;}
.f32 .com {background-position: 0 -4128px;}
.f32 .kna {background-position: 0 -4160px;}
.f32 .prk {background-position: 0 -4192px;}
.f32 .kor {background-position: 0 -4224px;}
.f32 .kwt {background-position: 0 -4256px;}
.f32 .cym {background-position: 0 -4288px;}
.f32 .kaz {background-position: 0 -4320px;}
.f32 .lao {background-position: 0 -4352px;}
.f32 .lbn {background-position: 0 -4384px;}
.f32 .lca {background-position: 0 -4416px;}
.f32 .lie {background-position: 0 -4448px;}
.f32 .lka {background-position: 0 -4480px;}
.f32 .lbr {background-position: 0 -4512px;}
.f32 .lso {background-position: 0 -4544px;}
.f32 .ltu {background-position: 0 -4576px;}
.f32 .lux {background-position: 0 -4608px;}
.f32 .lva {background-position: 0 -4640px;}
.f32 .lby {background-position: 0 -4672px;}
.f32 .mar {background-position: 0 -4704px;}
.f32 .mda {background-position: 0 -4736px;}
.f32 .mne {background-position: 0 -4768px;}
.f32 .mdg {background-position: 0 -4800px;}
.f32 .mhl {background-position: 0 -4832px;}
.f32 .mkd {background-position: 0 -4864px;}
.f32 .mli {background-position: 0 -4896px;}
.f32 .mmr {background-position: 0 -4928px;}
.f32 .mng {background-position: 0 -4960px;}
.f32 .mac {background-position: 0 -4992px;}
.f32 .mtq {background-position: 0 -5024px;}
.f32 .mrt {background-position: 0 -5056px;}
.f32 .msr {background-position: 0 -5088px;}
.f32 .mlt {background-position: 0 -5120px;}
.f32 .mus {background-position: 0 -5152px;}
.f32 .mdv {background-position: 0 -5184px;}
.f32 .mwi {background-position: 0 -5216px;}
.f32 .mex {background-position: 0 -5248px;}
.f32 .mys {background-position: 0 -5280px;}
.f32 .moz {background-position: 0 -5312px;}
.f32 .nam {background-position: 0 -5344px;}
.f32 .ncl {background-position: 0 -5376px;}
.f32 .ner {background-position: 0 -5408px;}
.f32 .nga {background-position: 0 -5440px;}
.f32 .nic {background-position: 0 -5472px;}
.f32 .nld {background-position: 0 -5504px;}
.f32 .bes {background-position: 0 -5504px;}
.f32 .nor {background-position: 0 -5536px;}
.f32 .bvt {background-position: 0 -5536px;}
.f32 .atn {background-position: 0 -5536px;}
.f32 .sjm {background-position: 0 -5536px;}
.f32 .npl {background-position: 0 -5568px;}
.f32 .nru {background-position: 0 -5600px;}
.f32 .nzl {background-position: 0 -5632px;}
.f32 .omn {background-position: 0 -5664px;}
.f32 .pan {background-position: 0 -5696px;}
.f32 .per {background-position: 0 -5728px;}
.f32 .pyf {background-position: 0 -5760px;}
.f32 .png {background-position: 0 -5792px;}
.f32 .phl {background-position: 0 -5824px;}
.f32 .pak {background-position: 0 -5856px;}
.f32 .pol {background-position: 0 -5888px;}
.f32 .pri {background-position: 0 -5920px;}
.f32 .pse {background-position: 0 -5952px;}
.f32 .prt {background-position: 0 -5984px;}
.f32 .plw {background-position: 0 -6016px;}
.f32 .pry {background-position: 0 -6048px;}
.f32 .qat {background-position: 0 -6080px;}
.f32 .reu {background-position: 0 -6112px;}
.f32 .rou {background-position: 0 -6144px;}
.f32 .srb {background-position: 0 -6176px;}
.f32 .rus {background-position: 0 -6208px;}
.f32 .rwa {background-position: 0 -6240px;}
.f32 .sau {background-position: 0 -6272px;}
.f32 .slb {background-position: 0 -6304px;}
.f32 .syc {background-position: 0 -6336px;}
.f32 .sdn {background-position: 0 -6368px;}
.f32 .swe {background-position: 0 -6400px;}
.f32 .sgp {background-position: 0 -6432px;}
.f32 .svn {background-position: 0 -6464px;}
.f32 .svk {background-position: 0 -6496px;}
.f32 .sle {background-position: 0 -6528px;}
.f32 .smr {background-position: 0 -6560px;}
.f32 .sen {background-position: 0 -6592px;}
.f32 .som {background-position: 0 -6624px;}
.f32 .sur {background-position: 0 -6656px;}
.f32 .stp {background-position: 0 -6688px;}
.f32 .slv {background-position: 0 -6720px;}
.f32 .syr {background-position: 0 -6752px;}
.f32 .swz {background-position: 0 -6784px;}
.f32 .tca {background-position: 0 -6816px;}
.f32 .tcd {background-position: 0 -6848px;}
.f32 .tgo {background-position: 0 -6880px;}
.f32 .tha {background-position: 0 -6912px;}
.f32 .tjk {background-position: 0 -6944px;}
.f32 .tls {background-position: 0 -6976px;}
.f32 .tkm {background-position: 0 -7008px;}
.f32 .tun {background-position: 0 -7040px;}
.f32 .ton {background-position: 0 -7072px;}
.f32 .tur {background-position: 0 -7104px;}
.f32 .tto {background-position: 0 -7136px;}
.f32 .tuv {background-position: 0 -7168px;}
.f32 .twn {background-position: 0 -7200px;}
.f32 .tza {background-position: 0 -7232px;}
.f32 .ukr {background-position: 0 -7264px;}
.f32 .uga {background-position: 0 -7296px;}
.f32 .usa {background-position: 0 -7328px;}
.f32 .ury {background-position: 0 -7360px;}
.f32 .uzb {background-position: 0 -7392px;}
.f32 .vat {background-position: 0 -7424px;}
.f32 .vct {background-position: 0 -7456px;}
.f32 .ven {background-position: 0 -7488px;}
.f32 .vgb {background-position: 0 -7520px;}
.f32 .vir {background-position: 0 -7552px;}
.f32 .vnm {background-position: 0 -7584px;}
.f32 .vut {background-position: 0 -7616px;}
.f32 .wsm {background-position: 0 -7648px;}
.f32 .yem {background-position: 0 -7680px;}
.f32 .zaf {background-position: 0 -7712px;}
.f32 .zmb {background-position: 0 -7744px;}
.f32 .zwe {background-position: 0 -7776px;}
.f32 .sxm {background-position: 0 -7808px;}
.f32 .cuw {background-position: 0 -7840px;}
.f32 .ssd {background-position: 0 -7872px;}
.f32 .niu {background-position: 0 -7904px;}
